@charset "utf-8";

p.error-message {
  padding-left: 10px;
}
.search-condition th {
  background-color: #eeeeee;
}
.result th {
  background-color: #d7ecff;
}
.position-gender {
  margin-top: 10px;
}
.position-additions {
  margin-top: 7px;
  margin-bottom: 7px;
}
.btn-search {
  width: 150px;
}